<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001087698370-b54jrja7saeer0l6kuebbfer7mrfce51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001087698370-b54jrja7saeer0l6kuebbfer7mrfce51</string>
	<key>API_KEY</key>
	<string>AIzaSyDd3g40Ews7Ye_I698hbdIddh8hRoNWXjA</string>
	<key>GCM_SENDER_ID</key>
	<string>1001087698370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barometer.app</string>
	<key>PROJECT_ID</key>
	<string>barometer-b7bab</string>
	<key>STORAGE_BUCKET</key>
	<string>barometer-b7bab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001087698370:ios:98bbc0d6a4d56ff8fb825b</string>
</dict>
</plist>